<% provide(:title, 'Employees') %>
<h1>Employees</h1>

<% if !@employees.nil? %>
<div class='row'>
  <ul class="employees">
    <% @employees.each do |employee| %>
    <li>
      <span class="col-xs-12">
        <%= link_to employee['name'], '#', { 'data-employee-id': employee['name'].gsub(/[^0-9A-Za-z]/, ''), class: 'employee' } %>
      </span>
    </li>
    <% end %>
    <li>
      <span class="col-xs-12">
        <%= link_to 'Show all', '#', { 'data-employee-id': 'show-all', class: 'employee show-all' } %>
      </span>
    </li
  </ul>
</div>
<% end %>
<div class='row'>
  <span class="col-xs-12 center">
    <%= form_for :employee, url: { action: "submit" } do |f| %>
      <%= f.hidden_field :schedule, value: @schedule.to_json %><br />
      <%= f.submit value: 'Submit schedule', class: 'btn btn-primary' %>
    <% end %>
  </span>
</div>
<br />
<div id='calendar' data-events="<%= @events.to_json %>" data-start-date="<%= @start_date.to_formatted_s(:db) %>"></div>
